@model ProjetoEventos.Models.Evento

@{
    ViewData["Title"] = "Create";
}

<h4>Novo Evento</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_evento" class="control-label"></label>
                <input type="date" asp-for="Data_evento" class="form-control" />
                <span asp-validation-for="Data_evento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatrocinadorId" class="control-label"></label>
                <select asp-for="PatrocinadorId" class="form-control" asp-items="ViewBag.PatrocinadorId">
                    <option value="">-- Selecione o Patrocinador --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TipoId" class="control-label"></label>
                <select asp-for="TipoId" class="form-control" asp-items="ViewBag.TipoId">
                    <option value="">-- Selecione o Tipo --</option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>



