﻿
    @{
        ViewData["Title"] = "Cadastro";
        Layout = "~/Views/Shared/_layout.cshtml";
    }
    <h1>Cadastro</h1>
    <div class="text-danger " asp-validation-summary="All"></div>
    <form asp-action="Create">
        <div class="form-group">
            <label>E-mail</label>
            <input type="email" name="email" class="form-control" />
            <label>Username</label>
            <input type="text" name="username" class="form-control" />
            <label>Senha</label>
            <input type="password" name="password" class="form-control" />

            <button type="submit" class="btn btn-primary mt-3">Enviar</button>
        </div>
    </form>

