@model IEnumerable<VasosInteligentes.Models.ApplicationUser>

@{
	ViewData["Title"] = "Usuários";
}

<h1>Usuários</h1>
<a

<a class="btn btn-success btn-sm" asp-area="" asp-controller="Users" asp-action="Create">Cadastrar novo usuario</a>

<table class="table">
	<thead>
		<tr>
			<th>Email</th>
			<th>UserName</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Email</td>
					<td>@item.UserName</td>
					<td>
						<a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |

						<form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
							<button type="submit" class="btn btn-danger btn-sm">
								Excluir
							</button>
						</form>
					</td>
				</tr>
			}
	</tbody>
</table>