@{
	ViewData["Title"] = "Senha Redefinida";
	Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p> Sua senha foi redefinida com sucesso. </p>
<a asp-controller="Accounts" asp-action="Login"> Faça login aqui </a>