@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Porra games</h1>
    <img scr="https://th.bing.com/th/id/OIP.6INqAdXCSdTY-PHQuFxPWgHaHh?w=158&h=180&c=7&r=0&o=7&pid=1.7&rm=3">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
