@{
	ViewData["Title"] = "Esqueceu a senha";
	Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container">

	<h1> Esqueci minha senha</h1>
	<div class="text-danger" asp-validation-summary="All"></div>

	<form asp-action="ForgotPassword">
		<div>
			<label>E-mail</label>
			<input type="email" name="email" class="form-control mb-2" />
			<button type="submit" class="btn btn-primary">Enviar</button>
		</div>
	</form>

</div>
