@model VasosInteligentes.ViewModel.ResetPasswordViewModel;

@{
	ViewData["Title"] = "Reset";
	Layout = "~/Views/Shared/_layout.cshtml";
}


<h1> Informe a senha nova </h1>
<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="ResetPassword">
	<input type="hidden" asp-for="Token" />
	<input type="hidden" asp-for="UserId" />

	<div class="form-group">
		<label asp-for="Email">Email</label>
		<input type="text" asp-for="Email" class="form-control" />

		<label asp-for="NewPassword">Senha</label>
		<input type="password" asp-for="NewPassword" class="form-control" />

		<label asp-for="ConfirmPassword">Confirme a Senha</label>
		<input type="password" asp-for="ConfirmPassword" class="form-control" />

		<button type="submit" class="btn btn-primary mt-3">Enviar</button>
	</div>
</form>