@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<h1>Login</h1>
<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="Login">
    <div class="form-group">
        <label>E-mail</label>
        <input type="email" name="email" class="form-control"/>
        <label>Senha:</label>
        <input type="password" name="password" class="form-control" />
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
<p>
    <a asp-controller="Accounts" asp-action="ForgotPassword">Esqueci minha senha</a>
</p>
