@model ProjetoClinica.Models.Clinica

@{
    ViewData["Title"] = "Inserir";
}

<h1>Nova Clínica</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Inserir">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Alarme" class="form-control" value="false" type="hidden"/>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group d-flex gap-2 mt-4">
                <input type="submit" value="Salvar" class="btn btn-primary w-100" />
                <a class="btn btn-secondary w-100" asp-controller= "Home" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

